
.icon-camera-outline:before { content: '\e800'; } /* '' */
.icon-videocam:before { content: '\e801'; } /* '' */
.icon-flashlight:before { content: '\e802'; } /* '' */
.icon-github:before { content: '\e803'; } /* '' */
.icon-lamp:before { content: '\e804'; } /* '' */
.icon-facebook-circled:before { content: '\e805'; } /* '' */
.icon-linkedin-circled:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-instagram-1:before { content: '\f31e'; } /* '' */
